<section id="Section404">
    <img src="../assets/Images/nigiri_triste.jpg" alt="Il nigiri di salmone è molto triste!" id="nigiriTriste" tabindex="0"/>
    <p tabindex="0">Uh-oh! Sembra che tu abbia sbagliato la via del sushi digitale.</p>
    <p tabindex="0">Errore 404: come un avocado che scivola via dalle mani, la tua destinazione è sfuggita! </p>
    <p tabindex="0">Ma non temere, stiamo preparando una rotta speciale con un tocco di wasabi per riportarti al delizioso mondo del sushi.</p>
    <p tabindex="0">Nel frattempo, sperando che questo problema non abbia SUSHItato disagio in te, ricorda il detto del grande mastro sushi Kakapoko Kifapokomoto
    "ogni errore è solo un extra in più sulla strada verso la perfezione!"</p>
</section>
