<section id="Section404">
    <img src="../assets/Images/nigiri_triste.png" alt="Il nigiri di gambero è molto triste!" id="nigiriTriste" tabindex="0"/>
    <p tabindex="0">Uh-oh! Sembra che tu abbia sbagliato la via del <span lang="ja">sushi</span> digitale.</p>
    <p tabindex="0">Errore 404: come un avocado che scivola via dalle mani, la tua destinazione è sfuggita! </p>
    <p tabindex="0">Ma non temere, stiamo preparando una rotta speciale con un tocco di <span lang="ja">wasabi</span> per riportarti al delizioso mondo del <span lang="ja">sushi</span>.</p>
    <p tabindex="0">Nel frattempo, sperando che questo problema non abbia <span lang="ja">SUSHI</span>tato disagio in te, ricorda il detto del grande mastro <span lang="ja">sushi</span> Kakapoko Kifapokomoto
    "ogni errore è solo un extra in più sulla strada verso la perfezione!"</p>
</section>
