<section id="Section500">
    <img src="../assets/Images/nigiri_ko.png" alt="Il nigiri di gambero è al tappeto!" id="nigiriKO" tabindex="0"/>
    <p tabindex="0">Ops! Qualcosa è andato storto nella cucina virtuale del nostro <span lang="ja">sushi</span> bar!</p>
    <p tabindex="0">Errore 500: Il nostro <span lang="en">chef robot</span> è in sciopero temporaneo e sta protestando contro la mancanza di alghe digitali.</p>
    <p tabindex="0">Non temere, stiamo cercando di negoziare, ma nel frattempo ci scusiamo per il disagio.</p>
    <p tabindex="0">Grazie per la tua pazienza e promettiamo che torneremo presto con una porzione <span lang="en">extra</span> di riso ben cotto!</p>
</section>