<li class="menuItem">
  <img
    class="imageMenuItem"
    alt=""
    src="../assets/Images/sushi_plates/{{NomePiattoUnderscored}}.jpg"
  />
  <div class="infoItem">
    <dl>
      <dt class="nomePiatto" data-title="Nome Piatto" lang="it-JP">
        {{NomePiatto}}
      </dt>
      <dd class="ingradienti" data-title="Descrizione ingredienti">
        {{Descrizione}}
      </dd>
      <dd data-title="Quantità">
        Quantità:
        <!-- BEFORE <p class="bold inline">{{Quantita}}</p> -->
        <span class="bold inline">{{Quantita}}</span>
      </dd>
      <button
        onclick="aggiornaConsegna(this)"
        class="DoneButton"
        data-dataOra="{{Orario}}"
        data-piatto="{{IdPiatto}}"
        data-cliente="{{Cliente}}"
      >
        Fatto
      </button>
    </dl>
  </div>
</li>
