<li class="menuItem">
    <div class="imageMenuItem {{NomePiattoUnderscored}}" aria-label="Immagine rappresentativa del piatto {{NomePiattoUnderscore}}"></div>
    <div class="infoItem">
      <dl>
        <dt class="nomePiatto" data-title="Nome Piatto">{{NomePiatto}}</dt>
        <dd class="ingradienti" data-title="Descrizione ingredienti">
          {{Descrizione}}
        </dd>
        <dd data-title="Quantità">
          Quantità:
            <!-- BEFORE <p class="bold inline">{{Quantita}}</p> -->
            <span class="bold inline">{{Quantita}}</span>
        </dd>
        <button onclick="aggiornaConsegna(this)" class="DoneButton" data-dataOra="{{Orario}}" data-piatto="{{IdPiatto}}" data-cliente="{{Cliente}}">Fatto</button>
      </dl>
    </div>
  </li>