<section id="chiSiamoSection">
    <h2>Il nostro team</h2>
    <ul class="componentList flexable">

        <li>
            <div class="card">
                <img src="../assets/Images/comp1.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                                 
                        <img class="card__thumb" src="../assets/Images/comp1.jpg" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">Mesoka CagaDoxo</h3>
                            <span class="card__status">Japanese</span>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                        blanditiis?</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="../assets/Images/comp2.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <img class="card__thumb" src="../assets/Images/comp2.jpg" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">Giulio marzapane</h3>
                            <span class="card__status">Forza napoli</span>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                        blanditiis?</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="../assets/Images/comp3.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <img class="card__thumb" src="../assets/Images/comp3.jpg" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">kim Cattrall</h3>
                            <span class="card__status">3 hours ago</span>
                        </div>
                    </div>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                        blanditiis?</p>
                </div>
            </div>
        </li>
        
    </ul>
</section>