<section id="chiSiamoSection">
  <h2>Il nostro team</h2>
  <ul class="componentList flexable">
    <li>
      <div class="card">
        <img
          src="../assets/Images/donato.PNG"
          class="card__image"
          alt="lo chef Mesoka CagaDoxo con la maglietta del Napoli"
        />
        <div class="card__overlay">
          <div class="card__header">
            <img
              class="card__thumb"
              src="../assets/Images/comp1.jpg"
              alt="lo chef Mesoka CagaDoxo con la maglietta del Napoli"
            />
            <div class="card__header-text">
              <h3 class="card__title">Mesoka CagaDoxo</h3>
              <span class="card__status">Giapponese</span>
            </div>
          </div>
          <p class="card__description">
            Meticoloso, creativo, esperto, appassionato.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <img
          src="../assets/Images/comp2.png"
          class="card__image"
          alt="lo chef Sudo Magodo molto arrabiato con la maglietta del Napoli"
        />
        <div class="card__overlay">
          <div class="card__header">
            <img
              class="card__thumb"
              src="../assets/Images/comp2mini.jpg"
              alt="lo chef Sudo Magodo molto arrabiato con la maglietta del Napoli"
            />
            <div class="card__header-text">
              <h3 class="card__title">Sudo Magodo</h3>
              <span class="card__status">Giapponese</span>
            </div>
          </div>
          <p class="card__description">
            Innovativo, audace, creativo.
          </p>
        </div>
      </div>
    </li>
    <li>
      <!-- TODO manca alt perchè foto errata -->
      <div class="card">
        <img src="../assets/Images/comp3.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <img class="card__thumb" src="../assets/Images/comp3.jpg" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Mi Sudo La Paga</h3>
              <span class="card__status">Giapponese</span>
            </div>
          </div>
          <p class="card__description">
            Carismatica, talentuosa, affascinante.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
