<section id="chiSiamoSection">
    <h2>Il nostro team</h2>
    <ul class="componentList flexable">
    <!--TODO aggiungere gli alt-->
        <li>
            <div class="card">
                <img src="../assets/Images/comp1.jpg" class="card__image" alt="lo chef Mesoka CagaDoxo con la maglietta del Napoli" />
                <div class="card__overlay">
                    <div class="card__header">

                        <img class="card__thumb" src="../assets/Images/comp1.jpg" alt="lo chef Mesoka CagaDoxo con la maglietta del Napoli" />
                        <div class="card__header-text">
                            <h3 class="card__title">Mesoka CagaDoxo</h3>
                            <span class="card__status">Giapponese</span>
                        </div>
                    </div>
                    <p class="card__description">Meticoloso, creativo, esperto, appassionato: lo chef sushi trasforma ingredienti in opere d'arte gastronomiche con maestria unica</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="../assets/Images/comp2.jpg" class="card__image" alt="lo chef Giulio Marzapane molto arrabiato con la maglietta del Napoli" />
                <div class="card__overlay">
                    <div class="card__header">
                        <img class="card__thumb" src="../assets/Images/comp2.jpg" alt="lo chef Giulio Marzapane molto arrabiato con la maglietta del Napoli" />
                        <div class="card__header-text">
                            <h3 class="card__title">Giulio marzapane</h3>
                            <span class="card__status">Giapponese</span>
                        </div>
                    </div>
                    <p class="card__description">Innovativo, audace, creativo, Giulio Marzapane, chef straordinario, trasforma ogni piatto in un'esperienza culinaria indimenticabile.</p>
                </div>
            </div>
        </li>
        <li>
            <!-- TODO manca alt perchè foto errata -->
            <div class="card">
                <img src="../assets/Images/comp3.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <img class="card__thumb" src="../assets/Images/comp3.jpg" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">kim Cattrall</h3>
                            <span class="card__status">Giapponese</span>
                        </div>
                    </div>
                    <p class="card__description">Carismatica, talentuosa, affascinante, Kim Cattrall, icona di stile, porta un tocco inconfondibile a ogni performance.</p>
                </div>
            </div>
        </li>

    </ul>
</section>