<footer>
  <div id="footerOrganizer" class="flexable">
    <div>
      <p class="logo" tabindex="0">Sushi Brombeis</p>
      <p class="logo2" lang="en" tabindex="0">all you can eat</p>
      <p id="footerDesc">
        Sushi Brombeis propone una vasta gamma di menù e di piatti tipici
        giapponesi e della cucina cinese. Sushi, uramaki, sashimi, temaki, maki
        e tempura oltre ai classici della cucina cinese come involtini e riso
        alla cantonese.
      </p>
    </div>
    <dl class="footerInfo">
      <dt tabindex="0">Indirizzo</dt>
      <dd>
        <address tabindex="0">
          Via Brombeis 14, (<abbr title="Napoli">NA</abbr>) 25231
        </address>
      </dd>
      <dt tabindex="0">Telefono</dt>
      <dd tabindex="0"><a href="tel:+3934833240302" tabindex="0">348 332 4030 2 </a></dd>
      <dt tabindex="0">Cellulare</dt>
      <dd tabindex="0">
        <a  href="tel:+3934833240302" tabindex="0"
          >348 332 4030 2
        </a>
      </dd>
      <dt tabindex="0">Orari Pranzo</dt>
      <dd tabindex="0">
        <time  datetime="11:00">11:00</time>
        -
        <time  datetime="15:00">15:00</time>
      </dd>
      <dt tabindex="0">Orari Cena</dt>
      <dd tabindex="0">
        <time  datetime="18:00">18:00</time> -
        <time  datetime="22:00">22:00</time>
      </dd>
    </dl>
    <!-- manca separazione link -->
    <dl class="socialInfo">
      <dt tabindex="0" >Social:</dt>
      <dd tabindex="0">
        <a
          href="https://www.instagram.com"
          class="socialLogo instagramLogo"
          lang="en"
          title="Vai alla nostra pagina instagram"
          aria-label="Vai alla nostra pagina instagram"
          tabindex="0" >Instagram</a
        >
      </dd>
      <dd tabindex="0">
        <a
          href="https://www.facebook.com"
          class="socialLogo facebookLogo"
          lang="en"
          title="vai alla nostra pagina facebook"
          aria-label="Vai alla nostra pagina facebook"
          tabindex="0"
          >Facebook</a
        >
      </dd>
      <dd tabindex="0">
        <a
          href="https://www.tiktok.com"
          class="socialLogo tikTokLogo"
          lang="en"
          title="vai alla nostra pagina TikTok"
          aria-label="Vai alla nostra pagina TikTok"
          tabindex="0"
          >TikTok</a
        >
      </dd>
    </dl>
  </div>

  <p id="footerRights" tabindex="0">
    Sushi brombeis - <span lang="en"> All the right reserved </span>
  </p>
</footer>
