<footer>
  <div id="footerOrganizer" class="flexable">
    <div>
      <h1 class="logo">Sushi Brombeis</h1>
      <h3 class="logo" lang="en">all you can eat</h3>
      <p id="footerDesc">
        Sushi Brombeis propone una vasta gamma di menù e di piatti tipici
        giapponesi e della cucina cinese. Sushi, uramaki, sashimi, temaki, maki
        e tempura oltre ai classici della cucina cinese come involtini e riso
        alla cantonese.
      </p>
    </div>
    <dl class="footerInfo">
      <dt>Indirizzo</dt>
      <dd>
        <address aria-label="Il nostro Indirizzo:">
          Via Brombeis 14, (<abbr title="Napoli">NA</abbr>) 25231
        </address>
      </dd>
      <dt>Telefono</dt>
      <dd><a href="tel:+3934833240302">348 332 4030 2 </a></dd>
      <dt>Cellulare</dt>
      <dd>
        <a aria-label="Chiamaci al numero:" href="tel:+3934833240302"
          >348 332 4030 2
        </a>
      </dd>
      <dt>Orari</dt>
      <dd>
        <time aria-label="Orario apertura pranzo" datetime="11:00">11:00</time>
        -
        <time aria-label="Orario chiusura pranzo" datetime="15:00">15:00</time>
      </dd>
      <dd>
        <time aria-label="Orario apertura Cena" datetime="18:00">18:00</time> -
        <time aria-label="Orario chiusura Cena" datetime="22:00">22:00</time>
      </dd>
    </dl>
    <!-- manca separazione link -->
    <dl class="socialInfo">
      <dt>Social:</dt>
      <dd>
        <a
          href="https://www.instagram.com"
          class="socialLogo instagramLogo"
          lang="en"
          title="Vai alla nostra pagina instagram"
          aria-label="Vai alla nostra pagina instagram"
          >Instagram</a
        >
      </dd>
      <dd>
        <a
          href="https://www.facebook.com"
          class="socialLogo facebookLogo"
          lang="en"
          title="vai alla nostra pagina facebook"
          aria-label="Vai alla nostra pagina facebook"
          >Facebook</a
        >
      </dd>
      <dd>
        <a
          href="https://www.tiktok.com"
          class="socialLogo tikTokLogo"
          lang="en"
          title="vai alla nostra pagina TikTok"
          aria-label="Vai alla nostra pagina TikTok"
          >TikTok</a
        >
      </dd>
    </dl>
  </div>

  <p id="footerRights">
    Sushi brombeis - <span lang="en"> All the right reserved </span>
  </p>
</footer>
