<footer>
  <div id="footerOrganizer" class='flexable'>
    <div>
      <h1 class="logo">Sushi Brombeis</h1>
      <h3 class="logo" lang="en">all you can eat</h3>
      <p id="footerDesc">Sushi Brombeis propone una vasta gamma di menù e di piatti tipici giapponesi e della cucina
        cinese. Sushi, uramaki, sashimi, temaki, maki e tempura oltre ai classici della cucina cinese come involtini e riso alla
        cantonese.</p>
    </div>
    <dl class="footerInfo">
      <dt class="footerDt">Indirizzo</dt>
      <dd> <address>Via Brombeis 14, (<abbr title="Napoli">NA</abbr>) 25231 </address></dd>
      <dt class="footerDt">Telefono</dt>
      <!-- TODO capire come mettere i numeri di telefono lenti e non letti velocissimi -->
      <dd>348 332 4030 2</dd>
      <dt class="footerDt">Cellulare</dt>
      <dd> <a href="tel: +39-348-332-4030-2">348 332 4030 2 </a> </dd>
      <dt class="footerDt">Orari</dt>
      <dd><time datetime="11:00">11:00</time> - <time datetime="15:00">15:00</time></dd>
      <dd><time datetime="18:00">18:00</time> - <time datetime="22:00">22:00</time> </dd>
    </dl>
    <!-- manca separazione link -->
    <dl class="socialInfo">
      <dt class="footerDt">Social:</dt>
      <dd><a href="#" class="socialLogo instagramLogo" lang="en">Instagram</a></dd>
      <dd><a href="#" class="socialLogo facebookLogo" lang="en">Facebook</a></dd>
      <dd><a href="#" class="socialLogo tikTokLogo" lang="en">TikTok</a></dd>
    </dl>
  </div>

  <p id="footerRights">Sushi brombeis -  <span lang="en"> All the right reserved </span></p>
</footer>