<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css" media="screen">
    <link rel="stylesheet" href="print.css" media="print">
  </head>

  <body id="{{pageID}}" onload="{{onload}}">
    <a href="#content" class="srOnly">Vai al contenuto</a> {{header}}

    <nav id="menu" class="menu" aria-label="Navigazione Principale">
        <!-- TODO aria-checked="{{state}} tabindex="0" ? dovrebbe funzionare con le freccette, dovrebbe essere già corretto -->
        <form id="toggleMenuForm">
        <div>
          <input type="checkbox" id="mobile-menu-toggle">
          <label for="mobile-menu-toggle" class="menu-toggle-label"></label>
          <ul class="nav-list">
            {{menu}}
          </ul>
        </div>
      </form>
    </nav>
    <nav id="breadcrumb" aria-label="Percorso">{{breadcrumbs}}</nav>

    <main id="content">{{content}}</main>
    <aside id="bottomMenu" class="onlyMobile">{{BottomMenu}}</aside>

    {{footer}}

    <script src="script/script.js"></script>
  </body>
</html>
