<li class="menuItem">
  <div
    role="img"
    class="imageMenuItem {{NomePiattoUnderscored}}"
    aria-label="Piatto: {{NomePiatto}}"
  ></div>
  <div class="infoItem">
    <dl>
      <dt class="nomePiatto" data-title="Nome Piatto" lang="it-JP">
        {{NomePiatto}}
      </dt>
      <dd class="ingradienti" data-title="Descrizione ingredienti">
        {{Descrizione}}
      </dd>
      <dd data-title="Quantità">
        Quantità:
        <p class="bold inline">{{Quantita}}</p>
      </dd>
      <dd data-title="Consegnato">
        Consegnato:
        <p class="bold inline">{{isConsegnato}}</p>
      </dd>
    </dl>
  </div>
</li>
