<li class="menuItem">
  <img
    class="imageMenuItem"
    alt=""
    src="../assets/Images/sushi_plates/{{NomePiattoUnderscored}}.jpg"
  />
  <div class="infoItem">
    <dl>
      <dt class="nomePiatto" data-title="Nome Piatto" lang="it">
        {{NomePiatto}}
      </dt>
      <dd class="ingradienti" data-title="Descrizione ingredienti">
        {{Descrizione}}
      </dd>
      <dd data-title="Quantità">
        Quantità:
        <p class="bold afterDuePunti">{{Quantita}}</p>
      </dd>
    </dl>
  </div>
</li>
