<!-- TODO menu image manca aria-label o da cambiare il div che contiene un immagine con tag img-->
<li class="menuItem {{ListaAllergeni}}">
  <div
    class="imageMenuItem {{NomePiattoUnderscored}}"
    aria-label="questo è un {{NomeUnderscored}}"
  ></div>
  <div>
    <dl>
      <dt class="nomePiatto" data-title="Nome Piatto" lang="it-JP">
        {{NomePiatto}}
      </dt>
      <dd class="ingradienti" data-title="Descrizione ingredienti">
        {{Descrizione}}
      </dd>
      <dt class="allergeniPlateList">Allergeni:</dt>

      {{Allergeni}}
    </dl>
    <div class="inputQuantityLabelInpt">
      <label for="quantita_{{IDPiatto}}">Quantità:</label>
      <input
        type="number"
        class="inptQuantita"
        id="quantita_{{IDPiatto}}"
        name="quantita_{{IDPiatto}}"
        value="0"
        min="0"
        max="10"
      />
    </div>
  </div>
</li>
