<section id="prenotazione">
  <h2>Modifica prenotazione</h2>
  {{Message}}
  <form action="process/modifyPrenotazione_process.php" method="post">
    <fieldset>
      <legend>Inserisci dati</legend>
      <ul>
        <li>
          <label for="n_persone">Numero di persone:</label>
          <input
            type="number"
            id="n_persone"
            name="n_persone"
            value="{{NumeroPersone}}"
            readonly
          >
        </li>

        <li>
          <label for="n_tavolo">Numero tavolo:</label>
          <input
            type="number"
            id="n_tavolo"
            name="n_tavolo"
            value="{{NumeroTavolo}}"
            readonly
          >
        </li>
        <li>
          <label for="indicazioniAggiuntive">Indicazioni aggiuntive:</label>
          <textarea
            id="indicazioniAggiuntive"
            name="indicazioniAggiuntive"
            rows="4"
            cols="50"
          >{{IndicazioniAggiuntive}}</textarea>
        </li>
      </ul>
      <input type="submit" value="Modifica" />
    </fieldset>
  </form>
</section>
