<section>
    <div class="homeImage">
        <div class="overlay">
            <h2 id="homeTitle">Un angolo di Giappone nel cuore di Napoli </h2>
        </div>
    </div>
</section>
<section id="homeDescription" class='homeSection flexable'>
    <div>
        <h3>La nostra cucina</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div id="imageDescription" class="image"></div>
</section>
<section id="presentationMenu" class='homeSection flexable'>
    <div>
        <h3>Menu all you can eat</h3>
        <p>Il nostro ricco menu All You Can Eat presenta tante specialità diverse, sia a base di pesce che di carne
            lasciando spazio anche a diversi piatti vegetariani. Per coloro che hanno voglia di mangiare giapponese ma
            non vogliono muoversi da casa è sempre attivo il servizio Take Away che consente di scegliere i piatti
            desiderati e ritirarli da asporto per poterlo consumare comodamente a casa.
            Il nostro obiettivo è quindi quello di portarvi alla scoperta della cucina giapponese attraverso la proposta
            delle nostre pietanze tipiche, realizzate sempre con ingredienti di altissima qualità e secondo le tecniche
            di cucina più antiche.</p>
    </div>
    <div id="restaurantImage" class="image"></div>
</section>

<section id="presentationQuality" class='homeSection flexable'>
    <div>
        <h3>Qualità unica</h3>
        <p>Yama Sushi è la cornice perfetta per le vostre serate di gusto ma è anche un locale confortevole ed elegante
            dove gustare la vera cucina giapponese caratterizzata dall'alta qualità e dai prezzi sempre contenuti.
            Venite a provare le nostre specialità tutti i giorni, sia a pranzo che a cena.</p>
    </div>
    <div id="qualityImage" class="image"></div>
</section>