<section>
    <div class="homeImage">
        <div class="overlay">
            <h2 id="homeTitle">Un angolo di Giappone nel cuore di Napoli </h2>
        </div>
    </div>
</section>
<section id="homeDescription" class='homeSection flexable'>
    <div>
        <h3>La nostra cucina</h3>
        <p>"Sushi Brombeis" è il rifugio gastronomico per gli amanti del sushi, un luogo dove l'autenticità e la freschezza dei sapori giapponesi si fondono in una sinfonia culinaria.
            Nel cuore del nostro ristorante, gli appassionati di sushi troveranno una vasta selezione di prelibatezze, dalle tradizionali opzioni di nigiri e sashimi a creazioni uniche
            che esplorano nuove interpretazioni della cucina giapponese.
        </p>
    </div>
    <div id="imageDescription" class="image"></div>
</section>
<section id="presentationMenu" class='homeSection flexable'>
    <div>
        <h3>Menu all you can eat</h3>
        <p>Il nostro ricco menu <span lang="en"> All You Can Eat </span> presenta tante specialità diverse, sia a base di pesce che di carne
            lasciando spazio anche a diversi piatti vegetariani. Per coloro che hanno voglia di mangiare giapponese ma
            non vogliono muoversi da casa è sempre attivo il servizio <span lang="en">Take Away</span> che consente di scegliere i piatti
            desiderati e ritirarli da asporto per poterlo consumare comodamente a casa.
            Il nostro obiettivo è quindi quello di portarvi alla scoperta della cucina giapponese attraverso la proposta
            delle nostre pietanze tipiche, realizzate sempre con ingredienti di altissima qualità e secondo le tecniche
            di cucina più antiche.</p>
    </div>
    <div id="restaurantImage" class="image"></div>
</section>

<section id="presentationQuality" class='homeSection flexable'>
    <div>
        <h3>Registrati e prenota</h3>
        <p>Attraverso la tua <a href="login.php">area personale</a>, puoi comodamente creare la tua prenotazione da casa! Tuttavia, fai attenzione: se non ti presenti entro un'ora dalla prenotazione, i responsabili potrebbero cancellarla. Dopo aver effettuato la prenotazione, ti verrà assegnato un numero di tavolo, e potrai procedere con l'ordinazione dei tuoi piatti. </p>
    </div>
    <div id="qualityImage" class="image"></div>
</section>