<section class="prices">
  <div class="iconTime {{TipoMenu}}"></div>
  <h2>Menu <span lang="en"> All You Can Eat </span> - {{TipoMenu}}</h2>
  <a href="../assets/menu/Menu{{TipoMenu}}.pdf" download="Menu{{TipoMenu}}.pdf" id="downloadMenu">Scarica il menu</a>
  <dl class="ListinoPrezzi">
    <div>
      <dt>Dal lunedi al venerdi:</dt>
      <dd>{{PrezzoLunVen}} €</dd>
    </div>
    <div>
      <dt>Sabato domenica e festivi:</dt>
      <dd>{{PrezzoFestivo}} €</dd>
    </div>
  </dl>
  <p>Escluse bevande, dolci e coperto, prezzi riferiti al <span lang="en"> take away </span></p>
</section>
