<!-- TODO eliminare??-->
<section id="signIn">
  <h2>Registrazione</h2>
  {{error}}
  <form action="process/signIn_request.php" onsubmit="return validateForm();" method="post">
    <fieldset>
      <legend>Inserisci dati per registrarti</legend>
      <p>(* = Campo obbligatorio)</p>
      <ul>
        <li>
          <label for="username">Username *:</label>
          <input type="text" id="username" name="username">
        </li>
        <li>
          <label for="firstname">Nome *:</label>
          <input type="text" id="firstname" name="firstname">
        </li>
        <li>
          <label for="lastname">Cognome *:</label>
          <input type="text" id="lastname" name="lastname">
        </li>
        <li>
          <label for="email">Email *:</label>
          <input type="text" id="email" name="email">
        </li>
        <li>
          <label for="password">Password *:</label>
          <input type="password" id="password" name="password">
        </li>
      </ul>
      <p class="instruction">La password deve contenere almeno 5 caratteri, inclusi lettere maiuscole e minuscole, numeri e almeno uno dei seguenti caratteri speciali: !@#$%^&*</p>
      <input type="submit" class="button sendButton" value="Registrati" >
    </fieldset>
  </form>
  <p>
    Già registrato?
    <a href="login.php" title="link per accedere"
      ><span lang="en">Login</span></a
    >
  </p>
</section>
