<section id="Section500">
    <img src="assets/Images/nigiri_ko.png" alt="Il nigiri di gambero è al tappeto!" id="nigiriKO"/>
    <h3>Ops! Qualcosa è andato storto nella cucina virtuale del nostro <span lang="ja">sushi</span> bar!</h3>
    <h4>Errore 500: Il nostro <span lang="en">chef robot</span> è in sciopero temporaneo e sta protestando contro la mancanza di alghe digitali.</h4>
    <p>Non temere, stiamo cercando di negoziare, ma nel frattempo ci scusiamo per il disagio.</p>
    <p>Grazie per la tua pazienza e promettiamo che torneremo presto con una porzione <span lang="en">extra</span> di riso ben cotto!</p>
</section>