<li>
  <dl>
    <dt>Numero tavolo:</dt>
      <dd>{{numTavolo}}</dd>
    <dt>Clienti:</dt>
      <dd>{{numClienti}}</dd>
    <dt>Indicazioni aggiuntive dal cliente:</dt>
      <dd>{{IndicazioniAggiuntive}}</dd>
  </dl>

  <form action="process/gestionePrenotazione.php" method="post">
    <input type="hidden" name="username_utente" value="{{Username}}">
    <input type="hidden" name="timestamp_prenotazione" value="{{Orario}}">
    <input type="hidden" name="numero_tavolo" value="{{numTavolo}}">

    <input type="submit" name="action" title="Termina prenotazione tavolo {{numTavolo}}" class="button small azioneStandard" value="Termina">
    <input type="submit" name="action" title="Elimina prenotazione tavolo {{numTavolo}}" class="button small azioneIrreversibile" value="Elimina">
  </form>
</li>