<footer>
    <img src="assets/Images/certificati/html5.png" height="32" width="88" alt="html5 valido" class="valid">
    <img src="assets/Images/certificati/css3.png" height="32" width="88" alt="CSS valido" class="valid">
    <a href="http://www.w3.org/WAI/WCAG1AA-Conformance" class="valid" aria-label="Spiegazione del livello Doppia-A di conformita"><img height="32" width="88" src="assets/Images/certificati/WCAG_AA.png" alt="Icona del livello Doppia-A di conformita"></a>
    <p id="footerRights">
        Sushi brombeis - <span lang="en"> All the rights reserved </span>
    </p>
</footer>