<section id="chiSiamoSection">
    <h2>Il nostro team</h2>
    <ul class="componentList flexable">
        <li>
            <div class="card">
                <img src="assets/Images/chef1.PNG" class="card__image" alt="lo chef Andrea Vedovato sorridente, vestito da chef, che fa gli spaghetti">
                <div class="card__overlay">
                    <div class="card__header">
                        <img class="card__thumb" src="assets/Images/comp1.jpeg" alt="lo chef Andrea Vedovato che impasta">
                        <div class="card__header-text">
                            <h3 class="card__title">Andrea Vedovato</h3>
                            <span class="card__status">Giapponese</span>
                        </div>
                    </div>
                    <p class="card__description">
                        Meticoloso, creativo, esperto, appassionato.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/Images/chef2.png" class="card__image" alt="lo chef Alberto Bustreo che impasta sorridente">
                <div class="card__overlay">
                    <div class="card__header">
                        <img class="card__thumb" src="assets/Images/comp2.jpg" alt="lo chef Alberto Bustreo che annusa del prezzomolo">
                        <div class="card__header-text">
                            <h3 class="card__title">Alberto Bustreo</h3>
                            <span class="card__status">Giapponese</span>
                        </div>
                    </div>
                    <p class="card__description">
                        Innovativo, audace, creativo.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/Images/chef3.jpeg" class="card__image" alt="lo chef Alex Bardugo che ti guarda con un sorriso ammiccante">
                <div class="card__overlay">
                    <div class="card__header">
                        <img class="card__thumb" src="assets/Images/comp3.jpg" alt="lo chef Alex Bardugo al lavoro">
                        <div class="card__header-text">
                            <h3 class="card__title">Alex Bardugo</h3>
                            <span class="card__status">Giapponese</span>
                        </div>
                    </div>
                    <p class="card__description">
                        Carismatica, talentuosa, affascinante.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</section>