<li class="menuItem">
  <picture  class="imageMenuItem">
    <source srcset="assets/Images/sushi_plates/{{NomePiattoUnderscored}}.webp" type="image/webp">
    <img src="assets/Images/sushi_plates/{{NomePiattoUnderscored}}.jpg" alt="">
  </picture>
  <div class="infoItem">
    <dl>
      <dt class="nomePiatto" data-title="Nome Piatto" lang="it">
        {{NomePiatto}}
      </dt>
      <dd class="ingradienti" data-title="Descrizione ingredienti">
        {{Descrizione}}
      </dd>
      <dd class="prezzo" data-title="Prezzo" >{{Prezzo}}€</dd>
    </dl>
  </div>
</li>
