# Questo file va nella root del sito, i path devono essere assoluti esempio:
# www.sito.com/SushiBrombeis/500.html ==> ErrorDocument  500 /SushiBrombeis/500.html
ErrorDocument 404 /abustreo/SushiBrombeis/404.php
ErrorDocument 500 /abustreo/SushiBrombeis/500.html