# Questo file va nella root del sito, i path devono essere assoluti esempio:
# www.sito.com/tecWeb/Home/500.php ==> ErrorDocument  500 /tecWeb/Home/500.php
ErrorDocument 404 /tecWeb/Home/404.php
ErrorDocument 500 /tecWeb/Home/500.php