/* Generated CSS from Python */

.imageMenuItem.gunkanSalmone {
    background-image: url(../assets/Images/sushi_plates_size50x50/gunkanSalmone.jpg);
}

.imageMenuItem.gunkanTonno {
    background-image: url(../assets/Images/sushi_plates_size50x50/gunkanTonno.jpg);
}

.imageMenuItem.gunkanTonnoAlto {
    background-image: url(../assets/Images/sushi_plates_size50x50/gunkanTonnoAlto.jpg);
}

.imageMenuItem.hosomakiSalmone {
    background-image: url(../assets/Images/sushi_plates_size50x50/hosomakiSalmone.jpg);
}

.imageMenuItem.hossomakiAvocado {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiAvocado.jpg);
}

.imageMenuItem.hossomakiCroccante {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiCroccante.jpg);
}

.imageMenuItem.hossomakiSake {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSake.jpg);
}

.imageMenuItem.hossomakiSpacial {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSpacial.jpg);
}

.imageMenuItem.hossomakiSpacialUsa {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSpacialUsa.jpg);
}

.imageMenuItem.hossomakiSpecialWasabi {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSpecialWasabi.jpg);
}

.imageMenuItem.hossomakiSumagi {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSumagi.jpg);
}

.imageMenuItem.il-sushi-half-650x432 {
    background-image: url(../assets/Images/sushi_plates_size50x50/il-sushi-half-650x432.jpg);
}

.imageMenuItem.nighiriGambero {
    background-image: url(../assets/Images/sushi_plates_size50x50/nighiriGambero.jpg);
}

.imageMenuItem.nighiriSalmone {
    background-image: url(../assets/Images/sushi_plates_size50x50/nighiriSalmone.jpg);
}

.imageMenuItem.nighiriTonno {
    background-image: url(../assets/Images/sushi_plates_size50x50/nighiriTonno.jpg);
}

.imageMenuItem.sashimiSalmone {
    background-image: url(../assets/Images/sushi_plates_size50x50/sashimiSalmone.jpg);
}

.imageMenuItem.sashimiTonno {
    background-image: url(../assets/Images/sushi_plates_size50x50/sashimiTonno.jpg);
}

.imageMenuItem.speciale-maki-tempura-coda-gambero-650x650 {
    background-image: url(../assets/Images/sushi_plates_size50x50/speciale-maki-tempura-coda-gambero-650x650.jpg);
}

.imageMenuItem.temakiTempura {
    background-image: url(../assets/Images/sushi_plates_size50x50/temakiTempura.jpg);
}

.imageMenuItem.temakiTonno {
    background-image: url(../assets/Images/sushi_plates_size50x50/temakiTonno.jpg);
}

.imageMenuItem.tempuraFruttiMare {
    background-image: url(../assets/Images/sushi_plates_size50x50/tempuraFruttiMare.jpg);
}

.imageMenuItem.tempuraGamberi {
    background-image: url(../assets/Images/sushi_plates_size50x50/tempuraGamberi.jpg);
}

