.imageMenuItem.maki_california {
    background-image: url(../assets/Images/sushi_plates/gunkanSalmone.jpg);
}

.imageMenuItem.tataki_di_manzo {
    background-image: url(../assets/Images/sushi_plates/gunkanTonno.jpg);
}

.imageMenuItem.dragon_roll {
    background-image: url(../assets/Images/sushi_plates/gunkanTonnoAlto.jpg);
}

.imageMenuItem.tartare_di_salmone {
    background-image: url(../assets/Images/sushi_plates/hosomakiSalmone.jpg);
}

.imageMenuItem.gyoza_di_verdure {
    background-image: url(../assets/Images/sushi_plates/hossomakiAvocado.jpg);
}

.imageMenuItem.maki_salmone_e_avocado {
    background-image: url(../assets/Images/sushi_plates/hossomakiCroccante.jpg);
}

.imageMenuItem.sashimi_misto {
    background-image: url(../assets/Images/sushi_plates/hossomakiSake.jpg);
}

.imageMenuItem.tempura_di_verdure {
    background-image: url(../assets/Images/sushi_plates/hossomakiSpacial.jpg);
}

.imageMenuItem.rainbow_roll {
    background-image: url(../assets/Images/sushi_plates/hossomakiSpacialUsa.jpg);
}

.imageMenuItem.uramaki_tempura {
    background-image: url(../assets/Images/sushi_plates/hossomakiSpecialWasabi.jpg);
}

.imageMenuItem.menu_sushi_premium {
    background-image: url(../assets/Images/sushi_plates/hossomakiSumagi.jpg);
}

.imageMenuItem.menu_sushi_deluxe {
    background-image: url(../assets/Images/sushi_plates/il-sushi-half-650x432.jpg);
}

.imageMenuItem.tartare_di_tonno {
    background-image: url(../assets/Images/sushi_plates/nighiriGambero.jpg);
}

.imageMenuItem.nigiri_di_salmone {
    background-image: url(../assets/Images/sushi_plates/nighiriSalmone.jpg);
}

.imageMenuItem.gyoza_di_pollo {
    background-image: url(../assets/Images/sushi_plates/nighiriTonno.jpg);
}

.imageMenuItem.nigiri_di_tonno {
    background-image: url(../assets/Images/sushi_plates/sashimiSalmone.jpg);
}

.imageMenuItem.sashimi_di_tonno {
    background-image: url(../assets/Images/sushi_plates/sashimiTonno.jpg);
}

.imageMenuItem.tempura_di_gamberi {
    background-image: url(../assets/Images/sushi_plates/speciale-maki-tempura-coda-gambero-650x650.jpg);
}

.imageMenuItem.roll_di_avocado {
    background-image: url(../assets/Images/sushi_plates/temakiTempura.jpg);
}

.imageMenuItem.roll_vegano {
    background-image: url(../assets/Images/sushi_plates/temakiTonno.jpg);
}

.imageMenuItem.uramaki_philly {
    background-image: url(../assets/Images/sushi_plates/tempuraFruttiMare.jpg);
}

.imageMenuItem.tataki_di_manzo {
    background-image: url(../assets/Images/sushi_plates/tempuraGamberi.jpg);
}

