.imageMenuItem.maki_california {
    background-image: url(../assets/Images/sushi_plates_size50x50/gunkanSalmone.jpg);
}

.imageMenuItem.tataki_di_manzo {
    background-image: url(../assets/Images/sushi_plates_size50x50/gunkanTonno.jpg);
}

.imageMenuItem.dragon_roll {
    background-image: url(../assets/Images/sushi_plates_size50x50/gunkanTonnoAlto.jpg);
}

.imageMenuItem.tartare_di_salmone {
    background-image: url(../assets/Images/sushi_plates_size50x50/hosomakiSalmone.jpg);
}

.imageMenuItem.gyoza_di_verdure {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiAvocado.jpg);
}

.imageMenuItem.maki_salmone_e_avocado {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiCroccante.jpg);
}

.imageMenuItem.sashimi_misto {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSake.jpg);
}

.imageMenuItem.tempura_di_verdure {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSpacial.jpg);
}

.imageMenuItem.rainbow_roll {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSpacialUsa.jpg);
}

.imageMenuItem.uramaki_tempura {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSpecialWasabi.jpg);
}

.imageMenuItem.menu_sushi_premium {
    background-image: url(../assets/Images/sushi_plates_size50x50/hossomakiSumagi.jpg);
}

.imageMenuItem.menu_sushi_deluxe {
    background-image: url(../assets/Images/sushi_plates_size50x50/il-sushi-half-650x432.jpg);
}

.imageMenuItem.tartare_di_tonno {
    background-image: url(../assets/Images/sushi_plates_size50x50/nighiriGambero.jpg);
}

.imageMenuItem.nigiri_di_salmone {
    background-image: url(../assets/Images/sushi_plates_size50x50/nighiriSalmone.jpg);
}

.imageMenuItem.gyoza_di_pollo {
    background-image: url(../assets/Images/sushi_plates_size50x50/nighiriTonno.jpg);
}

.imageMenuItem.nigiri_di_tonno {
    background-image: url(../assets/Images/sushi_plates_size50x50/sashimiSalmone.jpg);
}

.imageMenuItem.sashimi_di_tonno {
    background-image: url(../assets/Images/sushi_plates_size50x50/sashimiTonno.jpg);
}

.imageMenuItem.tempura_di_gamberi {
    background-image: url(../assets/Images/sushi_plates_size50x50/speciale-maki-tempura-coda-gambero-650x650.jpg);
}

.imageMenuItem.roll_di_avocado {
    background-image: url(../assets/Images/sushi_plates_size50x50/temakiTempura.jpg);
}

.imageMenuItem.roll_vegano {
    background-image: url(../assets/Images/sushi_plates_size50x50/temakiTonno.jpg);
}

.imageMenuItem.uramaki_philly {
    background-image: url(../assets/Images/sushi_plates_size50x50/tempuraFruttiMare.jpg);
}

.imageMenuItem.tataki_di_manzo {
    background-image: url(../assets/Images/sushi_plates_size50x50/tempuraGamberi.jpg);
}

