* {
    padding: 0;
    margin: 0;
}

:root {
    --logoTxtColor: darkgoldenrod;
    --borderColor: #DDD;
    --linkColor: blue;
    --visitedLinkColor: purple;
    --LegendTxtColor: darkgoldenrod;
    --alternative_text: darkgoldenrod;
    --flagColor: #f4524d;
    --surface-color: #fff;
    --curve: 40;
    --warningMessage: #ff6758;
    --goodEndingMessage: #07a61f ;
}

html, body {
    font-size: 11pt;
    font-family: "Times New Roman", Time, sans-serif;
    margin: auto;
}

a:link {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    text-decoration: underline;
    color: var(--visitedLinkColor);
}

a[href^="tel"]{
    text-decoration: none;
    color: unset;
}

a:not([href^="tel"]):link:after, 
a:not([href^="tel"]):visited:after{
    content: " [" attr(href) "] ";
    font-size:90%;
}

#menu, #bottomMenu, .srOnly, .onlyMobile{
    display: none;
}

#breadcrumb {
    padding: 5px 0 5px 0;
    margin-top: 5px;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    font-weight: bold;
}

header {
    padding: 10px;
    text-align: center;
}

h1.logo {
    text-transform: uppercase;
    color: var(--logoTxtColor);
}

h3.logo {
    letter-spacing: 0.5em;
}

.flexable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    border-top: 1px solid var(--borderColor);
    padding: 10px 5px 5px;
    text-align: center;
}

#footerOrganizer {
    justify-content: space-between;
    padding-bottom: 10px;
}

footer dt{
    display: inline-block;
    font-weight: bold;
    color: var(--LegendTxtColor);
    font-size: 16px;
    padding-top: 2px;
}

footer div, footer dl{
    min-width: 200px;
    text-align: left;
}

#footerDesc{
    max-width: 300px;
}

#footerRights{
    border-top: 1px solid var(--borderColor);
    padding: 10px;
    text-align: center;
}

main {
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

#login ul,
#signIn ul,
#prenotazione ul,
#listaAllergeni {
    text-align: center;
    list-style-type: none;
}

#submitPrenotazione,
button,
input[type="submit"] {
    display: none;
}

.afterDuePunti {
    display: inline;
}

/*******************HOME************************/

#homeTitle {
    text-align: center;
    margin: auto;
}

/*******************404*********************/

#Section404, #Section500{
    text-align: center;
}

#Section404 p, #Section500 p{
    margin: auto;
    width: 450px;
}

#nigiriTriste{
    width: 300px;
    height: auto;
}

#nigiriKO{
    width: 300px;
    height: auto;
}

/*******************MENU*********************/

#downloadMenu{
    display: none;
}

.downloadSize{
    display: none;
}

.prices{
    text-align: center;
}
.containerPlatesViewer h2,
.prices h2 {
    color: var(--alternative_text);
    padding: 5px;
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 250px;
    text-align: left;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    margin-bottom: 5px;
}

.menuItem dl{
    padding-left: 5px;

}

.menuItem.oldOrders {
    border: 1px solid #6f6969;
    border-radius: 10px;
    margin: 2px;
}

.infoItem {
    padding-left: 4%;
}

.allergeniPlateList{
    list-style-type: none;
}

.prezzo,
.quantitaOrdine {
    float: right;
    padding: 5px;
}

.imageMenuItem {
    max-width: 125px;
    height: auto;
    display: block;
    border: none;
    object-fit: cover;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.containerPlatesViewer {
    width: 90%;
    margin: auto;
    text-align: center;
}

.containerPlatesViewer .nomePiatto {
    display: block;
    font-weight: bold;
}

dd.ingradienti {
    color: var(--flagColor);
    padding:  4px 0 4px;
}

dl.ListinoPrezzi {
    padding: 5px;
    justify-content: center;
}

.ListinoPrezzi dd {
    color: var(--alternative_text);
    font-weight: bold;
    display: block;
    font-size: 20px;
}

.ListinoPrezzi dt {
    font-weight: bold;
}

.ListinoPrezzi div {
    padding: 5px;
}

/*******************CHISIAMO*********************/
.componentList {
    list-style: none;
    margin: 10px;
    justify-content: space-around;
    
}
#chiSiamoSection h2{
    padding: 5px;
    text-align: center;
}

.componentList li{
    height: 350px;
    background: #fff;
    border-radius: calc(var(--curve) * 1px);
    margin: 5px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    border: 1px solid black;
    overflow: hidden;
    text-decoration: none;
    padding: 0;
  }
  
  .card__image {      
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius:calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);      
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-top: 1px solid black;  
    background-color: var(--surface-color);
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
  }       
  
  .card__thumb {
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 14px;
    margin: 0 0 3px;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 10px 0;
    font-size: 12px; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: 12px;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 20px 20px;
    margin: 0;
    color: #D7BDCA;
    overflow: hidden;
  }    

  /*******************login signin prenotazione *********************/
#login, #signIn, #prenotazione{
    text-align: center;
    padding: 10px;
}

#signIn label,
#login label,
#prenotazione label {
    font-size: 14px;
}

#signIn h2,
#login h2,
#prenotazione h2{
    color: var(--alternative_text);
    margin: 15px;
}

fieldset {
    width: fit-content;
    display: contents;
}

fieldset ul li {
    text-align: center;
    max-width: 400px;
}

#signIn ul,
#login ul,
#signIn li,
#login li  {
    text-align: right;
    width: auto;
    padding: 5px;
}

#prenotazione ul,
#prenotazione li {
    text-align: left;
    width: fit-content;
    padding: 5px;
}

#signIn form,
#login form,
#prenotazione form {
    text-align: -webkit-center;
    text-align: -moz-center;
}

input {
    padding: 2px;
    font-size: 12px;
    border: none;
}

label[for="indicazioniAggiuntive"]{
    display: list-item;
}

textarea{
    margin-top: 4px;
    width: fit-content;
    border: none;
    resize: none;
}

fieldset legend {
    color: var(--LegendTxtColor);
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

/************warning e good*************/
.warning{
    color: var(--warningMessage);
}

.good{
    color: var(--goodEndingMessage);
}

/************prenota*************/
#allergeni{
    padding: 5px;
}

#listaAllergeni li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 25px;
}

.inputQuantityLabelInpt {
    padding-left: 5px;
}

/*ALLERGENI*/
.menuItem .allergeneImage{
    margin: 0;
}

.allergeniPlateList , .allergeniPlateList + dd{
   
    display: inline-block;
}
.allergeneImage::after {
    position: relative;
    display: inline-block;
    content: attr(data-allergene);
}

/************gestione prenotazioni*************/
#SezioneGestioneTavoli {
    width: 350px;
}

#SezioneGestionePrenotazioni ul {
    width: 350px;
    display: inline;
}
#SezioneGestionePrenotazioni h2,
#SezioneGestioneTavoli h2{
    padding: 5px;
    text-align: center;
}
.tableList, .ActivePrenotationList{
    list-style-type: none;
}

.tableList li{
    padding: 10px;
    text-align: center;
}

.ActivePrenotationList li {
    margin-top: 2px ;
    margin-bottom: 10px;
}

.progressTable {
    display: none;
}