* {
    padding: 0;
    margin: 0;
}

:root {
    --logoTxtColor: darkgoldenrod;
    --borderColor: #DDD;
    --linkColor: blue;
    --visitedLinkColor: purple;
    --LegendTxtColor: darkgoldenrod;
    --alternative_text: darkgoldenrod;
    --flagColor: #f4524d;
}

html, body {
    font-size: 11pt;
    font-family: "Times New Roman", Time, sans-serif;
    margin: auto;
}

a:link {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    text-decoration: underline;
    color: var(--visitedLinkColor);
}

a[href^="tel"] {
    text-decoration: none;
    color: unset;
}

a:not([href^="tel"]):link:after, a:not([href^="tel"]):visited:after {
    content: " [" attr(href) "] ";
    font-size:90%;
}

#menu, #bottomMenu, .srOnly, .onlyMobile{
    display: none;
}

#breadcrumb {
    padding: 5px 0 5px 0;
    margin-top: 5px;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    font-weight: bold;
}

header {
    padding: 10px;
    text-align: center;
}

h1.logo {
    text-transform: uppercase;
    color: var(--logoTxtColor);
}

h3.logo {
    letter-spacing: 0.5em;
}

.flexable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    border-top: 1px solid var(--borderColor);
    padding: 10px 5px 5px;
}

#footerOrganizer {
    justify-content: space-between;
    padding-bottom: 10px;
}

footer dt{
    display: inline-block;
    font-weight: bold;
    color: var(--LegendTxtColor);
    font-size: 16px;
    padding-top: 2px;
}

footer div, footer dl{
    min-width: 200px;
    text-align: left;
}

#footerDesc{
    max-width: 300px;
}

#footerRights{
    border-top: 1px solid var(--borderColor);
    padding: 10px;
    text-align: center;
}

main {
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

/*******************HOME************************/

#homeTitle {
    text-align: center;
    margin: auto;
}

/*******************404*********************/

#Section404{
    text-align: center;
}

#Section404 p{
    margin: auto;
    width: 450px;
}

#nigiriTriste{
    width: 200px;
    height: auto;
}

/*******************MENU*********************/

.prices{
    text-align: center;
}
.containerPlatesViewer h2,
.prices h2 {
    color: var(--alternative_text);
    padding: 10px;
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 250px;
    text-align: left;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    margin-bottom: 5px;
}

.menuItem dl{
    padding-left: 5px;

}

.menuItem.oldOrders {
    border: 1px solid #6f6969;
    border-radius: 10px;
    margin: 2px;
}

.infoItem {
    padding-left: 4%;
}

.allergeniPlateList{
    list-style-type: none;
}

.prezzo,
.quantitaOrdine {
    float: right;
    padding: 5px;
}

.imageMenuItem {
    max-width: 125px;
    height: auto;
    display: block;
    border: none;
    object-fit: cover;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.containerPlatesViewer {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.containerPlatesViewer .nomePiatto {
    display: block;
    font-weight: bold;
}

dd.ingradienti {
    color: var(--flagColor);
    padding:  4px 0 4px;
}

dl.ListinoPrezzi {
    padding: 5px;
    justify-content: center;
}

.ListinoPrezzi dd {
    color: var(--alternative_text);
    font-weight: bold;
    display: block;
    font-size: 20px;
}

.ListinoPrezzi dt {
    font-weight: bold;
}

.ListinoPrezzi div {
    padding: 5px;
}