* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: #000;
    --menuBackground: #000;
    --headerTxtColor: rgb(255, 255, 255);
    --menuTxtcolor: #fff;
    --pageTxtColor: #fff;
    --bgColor: rgb(0, 0, 0);
    --txtColor: rgb(0, 0, 0);
    --footerBgColor: #000;
    --footerTxtColor: rgb(255, 255, 255);
    --linkColor: #3498db;
    --visitedLinkColor: #e74c3c;
    /*importante il contrasto tra link visitato e non*/
    --flagColor: rgb(218, 103, 60);
    --fieldSetBorderColor: darkgoldenrod;
    --LegendTxtColor: darkgoldenrod;
    --alternative_text: darkgoldenrod;
    --submitButtonColor: rgb(2, 117, 0);
    --font-body-family: "sans-serif", sans-serif;
}

html {
    font-size: 100%;
    /* rispetto requisti utente*/
    font-family: var(--font-body-family);
    line-height: 1.5em;
    /* da mettere sempre*/
    margin: auto;
    /* per centrare*/
    background-color: var(--bgColor);
    color: var(--pageTxtColor);
}

a:link {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--headerBgColor);
    padding: 1em;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
}

header h3 {
    letter-spacing: .5em;
}

nav.menu {
    background-color: var(--headerBgColor);
    align-items: center;
    /* Aggiunto per centrare verticalmente gli elementi */
    padding: 10px;
}

nav.menu ul , #login ul , #signIn ul , #listaAllergeni {
    text-align: center;
    list-style-type: none;
}

nav.menu ul li {
    display: inline-block;
    margin: 0 15px;
    /* Rimuovi il margine da .menu e applica qui */
}

nav.menu ul li a {
    font-weight: bold;
    transition: color 0.3s ease;
    text-underline-offset: .3em;
}

nav#breadcrumb {
    justify-content: flex-start;
}

section {
    padding: 2em;
    text-align: center;
}

#menuTitle {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}

#PiattiMenu {
    width: 90%;
    margin: auto;
}

#PiattiMenu ul {
    font-size: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    background-color: var(--menuBackground);
    color: var(--menuTxtcolor)
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* Crea due colonne con larghezza uguale */
    width: 250px;
    text-align: left;
}

.prezzo {
    float: right;
}

#PiattiMenu .imageMenuItem {
    background-repeat: no-repeat;
    background-position-x: center;
    width: 60px;
    background-size: contain;
    margin: 0.3em;
}

#PiattiMenu .nomePiatto {
    display: block;
    font-weight: bold;
}

dd.ingradienti {
    color: var(--flagColor);
}

main div {
    padding-top: .3em;
}

footer {
    background-color: var(--footerBgColor);
    color: #fff;
    text-align: center;
    padding: 1em;
}


/*******************MENU *********************/

dl#ListinoPrezziPranzo {
    padding: 1.5em;
    justify-content: center;
}

dl#ListinoPrezziPranzo div {
    display: inline-block;
}

#ListinoPrezziPranzo dd {
    color: var(--alternative_text);
    font-weight: bold;
    display: block;
    font-size: 3em;
    padding-top: 0.5em;
}

#ListinoPrezziPranzo dt {
    font-weight: bold;
}

#ListinoPrezziPranzo div {
    padding: 2.5em;
}

#signIn h2,#login h2 ,#PiattiMenu h2 {
    color: var(--alternative_text);
    margin: 1.5em;
}

#PiattiMenu>p {
    padding-bottom: 1em;
}


/*******************PRENOTA *********************/
.hide{
    display: none;
}
.inptQuantita {
    width: 3em;
}

fieldset {
border: 0;    /* Replace YourColor with the desired color code */
    border-radius: 8px;
    padding: 1em;

}

fieldset legend {
    color: var(--LegendTxtColor);
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

#submitPrenotazione , #signIn button , #login button , input[type="submit"]{
    background-color: var(--submitButtonColor);
    color: #fff;
    min-width: 30px;
    font-size: 1.3em;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    border: 0;
    text-align: center;
}

fieldset ul li {
    margin: 1em
}
#listaAllergeni li{
    display: inline-block;
    padding: 1em;
}

/* Nascondi la checkbox predefinita */
input[type="checkbox"] {
    display: none;
  }
  
  /* Stile della checkbox personalizzata */
  input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px; /* Regola se necessario */
    cursor: pointer;
  }
  
  /* Stile del segno di spunta */
  input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; /* Regola la dimensione della checkbox */
    height: 20px; /* Regola la dimensione della checkbox */
    background-color: #fff; /* Colore di sfondo */
    transition: background 0.3s;
  }
  
  /* Stile del segno di spunta quando è selezionato */
  input[type="checkbox"]:checked + label:before {
    background-color: #3498db; /* Cambia il colore di sfondo quando è selezionato */
  }
  
  /* Stile dell'area interna del segno di spunta (opzionale) */
  input[type="checkbox"] + label:after {
    content: "\2713"; /* Carattere Unicode per il checkmark */
    position: absolute;
    left: 4px; /* Regola la posizione se necessario */
    top: 0px; /* Regola la posizione se necessario */
    color: #ffffff; /* Colore dell'icona del checkmark */
    font-size: 16px; /* Regola la dimensione dell'icona del checkmark */
    visibility: hidden;
    transition: color 0.3s;
  }
  
  /* Stile dell'area interna quando è selezionata (opzionale) */
  input[type="checkbox"]:checked + label:after {
    visibility: visible;
  }
  


/*******************login signin *********************/

#signIn label,#login label {
font-size: 1.4em;
}
#signIn fieldset,#login fieldset {
    width: fit-content;
}
#signIn ul,#login ul {
text-align: right; 
width: fit-content;
}

#signIn form, #login form {
    text-align: -webkit-center;
}

input {
    padding: .2em;
    font-size: 1.2em;
}

