* {
    margin: 0;
    padding: 0;
}

:root {
    --surface-color: #fff;
    --curve: 40;
    --headerBgColor: #000;
    --menuBackground: #000;
    --headerTxtColor: rgb(255, 255, 255);
    --menuTxtcolor: #fff;
    --pageTxtColor: #fff;
    --logoTxtColor: #cb9407;
    --bgColor: rgb(0, 0, 0);
    --txtColor: rgb(0, 0, 0);
    --footerBgColor: #000;
    --footerTxtColor: rgb(255, 255, 255);
    --linkColor: #ffffff;
    --visitedLinkColor: #ff6758;
    /*importante il contrasto tra link visitato e non*/
    --flagColor: #ff6758;
    --endPrenotation: #b12d21;
    --goodEndingMessage: #07a61f ;
    --instructionMessage: #f1ab33;    --warningMessage: #ff6758;

    /* Message status*/
    --messageTxtColor: white;
    --errorMessageBgColor: red;
    --goodMessageBgColor: #06a61f;
    --curveMessage: 1em;

    /* Button - Submit */
    --buttonCurveBorder: 0.6em;
    --standardOperationBgColor: #06a61f;
    --standardOperationTxtColor: white;
    --irreversibleOperationBgColor: red;
    --irreversibleOperationTxtColor: white;

    --fieldSetBorderColor: #6ccb07;
    --LegendTxtColor: #cb9407;
    --secondBodyColor:#fcf3dc;
    --secondTitleColor:#c79e63;
    --alternative_text: #cb9407;
    --menuToggleColor: #cb9407;
    --submitButtonColor: rgb(2, 117, 0);
    --borderMenuItem: rgb(58 58 58);
    --NavmenuBorder: #fff;
    --font-body-family: system-ui, "sans-serif", sans-serif;
}

html {
    font-size: 100%;
    /* rispetto requisti utente*/
    font-family: var(--font-body-family);
    line-height: 1.5em;
    /* da mettere sempre*/
    margin: auto;
    /* per centrare*/
    background-color: var(--bgColor);
    color: var(--pageTxtColor);
}
.onlyMobile{
    display: none;
}
.srOnly {
    position:absolute;
    left:-999em;}


a:link {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--headerBgColor);
    padding: 1em;
    text-align: center;
}


.warning{
    color: var(--warningMessage);
}

.good{
    color: var(--goodEndingMessage);
}
.warning::before , .good::before{
        content: "";
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: contain;
        margin-right: .3em;
        background-repeat: no-repeat;
}

.warning::before {
    background-position-y: 7px;
    background-image: url(../assets/icon/warning.png);
}
.good::before{
        background-image: url(../assets/icon/check.png);
}
/**
    TODO non riesco a farlo funzionare
.userAreaLink::before{
    content: url('../assets/Images/user.svg'); 
    margin-right: 5px;
position: relative;
top: 7px;
color: #ff0000; 

}**/
h1.logo {
    text-transform: uppercase;
    color: var(--logoTxtColor);
}

h3.logo {
    letter-spacing: .5em;
}

nav.menu {
    background-color: var(--headerBgColor);
    align-items: center;
    /* Aggiunto per centrare verticalmente gli elementi */
    padding: 10px;
}

nav.menu ul,
#login ul,
#signIn ul,
#prenotazione ul,
#listaAllergeni {
    text-align: center;
    list-style-type: none;
}

#loginLegend {
    text-align: center;
}

nav.menu ul li {
    display: inline-block;
    margin: 0 15px;
    /* Rimuovi il margine da .menu e applica qui */
}

nav.menu ul li a {
    /* max-font-size: auto; Questo proprietà non esiste */
    font-weight: bold;
    transition: color 0.3s ease;
    text-underline-offset: .3em;
}

/*ALLERGENI*/
.menuItem .allergeneImage{
margin: 0;
}
.allergeniPlateList , .allergeniPlateList + dd{
    display: inline-block;
}
.allergeneImage {
    position: relative;
    top: 0.4em;
    left: 0.5em;    display: inline-block;
    width: 25px; /* Imposta la larghezza dell'immagine */
    height: 25px; /* Imposta l'altezza dell'immagine */
}
.CrostaceiImage {
    background: url(../assets/icon/Crostacei.png) center center/contain no-repeat; /* Utilizza il percorso dell'immagine da data-allergene */

}

.PesceImage {
    background: url(../assets/icon/fish.png) center center/contain no-repeat; /* Utilizza il percorso dell'immagine da data-allergene */

}
.SedanoImage {
    background: url(../assets/icon/celery.png) center center/contain no-repeat; /* Utilizza il percorso dell'immagine da data-allergene */
}

.SenapeImage {
    background: url(../assets/icon/mustard.png) center center/contain no-repeat; /* Utilizza il percorso dell'immagine da data-allergene */
}
.SoiaImage {
    background: url(../assets/icon/soy.png) center center/contain no-repeat; /* Utilizza il percorso dell'immagine da data-allergene */
}
.UovaImage {
    background: url(../assets/icon/eggs.png) center center/contain no-repeat; /* Utilizza il percorso dell'immagine da data-allergene */
}

#breadcrumb {
    justify-content: flex-start;
    padding-left: 0.5em;
}

#menuTitle {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}

.containerPlatesViewer {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 1em;
}

.flexable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerPlatesViewer ul {
    font-size: 90%;
    margin: auto;
    align-content: center;
    justify-content: center;
    background-color: var(--menuBackground);
    color: var(--menuTxtcolor);    
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 250px;
    background-color: var(--menuBackground);
    text-align: left;
    border: 0.5px solid var(--borderMenuItem);
    flex-grow: 1;
    border-radius: 8px;
    padding: 1em;
    margin: 0.5em;
    transition: 0.5s;
}

.menuItem dl{
    padding-left: 0.5em;

}

.menuItem:hover {
    box-shadow: 0 0 11px rgba(255, 250, 250, 0.2);
    transform: scale(1.1);
}
.menuItem.oldOrders {
    border: 1px solid #6f6969;
    border-radius: 10px;
    margin: 0.2em;
}

.infoItem {
    padding-left: 4%;
}
.allergeniPlateList{
    list-style-type: none;}

.prezzo,
.quantitaOrdine {
    float: right;
    padding: 0.5em;
}

.imageMenuItem {
    max-width: 125px;
    height: auto;
    display: block;
    border: none;
    /*vertical-align: middle; Non funziona se l'elemento è un blocco*/
    object-fit: cover;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}


.containerPlatesViewer .nomePiatto {
    display: block;
    font-weight: bold;
}

dd.ingradienti {
    color: var(--flagColor);
    padding:  .4em 0 .4em;
}


main {
    margin: 0;
}

footer {
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    text-align: center;
    border-top: 1px solid var(--NavmenuBorder);
    margin-top: auto;
}
#footerOrganizer {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

footer dt{
    display: inline-block;
    font-weight: bold;
    color: var(--LegendTxtColor);
    font-size: 1.3em;
    padding-top: 0.2em;
}

footer div, footer dl{
    min-width: 200px;
    text-align: left;
    padding: 1em;
}
footer div{
    padding: 1em;
}
#footerDesc{
    max-width: 300px;
}
a.socialLogo::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    margin-right: .3em;
    margin-top: 10%;
    margin-bottom: 10%;

}
a.socialLogo {
    display: flex;
    align-items: center;
    text-align: center;
}
a.instagramLogo::before {
    background-image: url(../assets/icon/instagram.png);
}

a.facebookLogo::before {
    background-image: url(../assets/icon/facebook-app-symbol.png);
}

a.tikTokLogo::before {
    background-image: url(../assets/icon/tik-tok.png);
}

/******************* SITO: MESSAGGI *********************/
.message {
    text-align: center;
    color: var(--messageTxtColor);
    margin: auto;
    width: 40%;
    border-radius: var(--curveMessage);
    padding: 1em;
}

.message.title {
    font-weight: bold;
    font-size: 1.5em;
}

.message.msgError {
    background-color: var(--errorMessageBgColor);
}

.message.msgGood {
    background-color: var(--goodMessageBgColor);
}

/******************* SITO: PULSANTI FORM **********************/
.button {
    min-width: 30px;
    font-size: 1.5em;
    text-align: center;
    border-radius: var(--buttonCurveBorder);
    margin-top: 1em;
    padding: 0.5em;
    border: 0;
}

.button.azioneStandard {
    color: var(--standardOperationTxtColor);
    background-color: var(--standardOperationBgColor);
}

.button.azioneIrreversibile {
    color: var(--irreversibleOperationTxtColor);
    background-color: var(--irreversibleOperationBgColor);
}

.button.small {
    font-size: 1em;
}

/******************* HOME >> SIGNIN **********************/
#signInButton {
    font-size: 1.5em;
}

/*******************MENU *********************/

.downloadSize{
    display: inline;
}

dl.ListinoPrezzi {
    padding: .5em;
    justify-content: center;
}

dl.ListinoPrezzi div {
    display: inline-block;
}

.iconTime{
    max-width: 40px;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
}
.Cena{
    background-image: url(../assets/Images/moon.PNG);
}
.Pranzo{
    background-image: url(../assets/Images/sun.PNG);
}
.bold {
    font-weight: bold;
}

.afterDuePunti {
    display: inline;
}

.ListinoPrezzi dd {
    color: var(--alternative_text);
    font-weight: bold;
    display: block;
    font-size: 3em;
    padding-top: 0.5em;
}

.ListinoPrezzi dt {
    font-weight: bold;
}

.ListinoPrezzi div {
    padding: 1.5em;
}

#signIn h2,
#login h2,
#prenotazione h2,
.containerPlatesViewer h2,
.prices h2 {
    color: var(--alternative_text);
    margin: .5em;
}

.prices{
    text-align: center;
}
.containerPlatesViewer>p {
    padding-bottom: 1em;
}


/*******************PRENOTA *********************/

.hide {
    display: none;
}

.inptQuantita {
    width: 3em;
}

fieldset {
    border: 0;
    border-radius: 8px;
    padding: 1em;
    margin-top: 1em;
}

fieldset legend {
    color: var(--LegendTxtColor);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#submitPrenotazione,
#signIn button,
#login button , #prenotazione button
/* input[type="submit"] Implementato sopra sulla def dei pulsanti*/ 
{
    background-color: var(--submitButtonColor);
    color: #fff;
    min-width: 30px;
    font-size: 1.3em;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    border: 0;
    text-align: center;
}

fieldset ul li {
    margin: 1em;
    text-align: center;
    max-width: 650px;
}

#listaAllergeni li {
    display: inline-block;
    padding: 1em;
}

#allergeni{
    text-align: center;
}
/* Nascondi la checkbox predefinita */

#allergeni input[type="checkbox"] {
    display: none;
}


/* Stile della checkbox personalizzata */

#allergeni input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    /* Regola se necessario */
    cursor: pointer;
}


/* Stile del segno di spunta */

#allergeni input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    /* Regola la dimensione della checkbox */
    height: 20px;
    /* Regola la dimensione della checkbox */
    background-color: #fff;
    /* Colore di sfondo */
    transition: background 0.3s;
}


/* Stile del segno di spunta quando è selezionato */

#allergeni input[type="checkbox"]:checked+label:before {
    background-color: #3498db;
    /* Cambia il colore di sfondo quando è selezionato */
}


/* Stile dell'area interna del segno di spunta (opzionale) */

#allergeni input[type="checkbox"]+label:after {
    content: "\2713";
    /* Carattere Unicode per il checkmark */
    position: absolute;
    left: 4px;
    /* Regola la posizione se necessario */
    top: 0;
    /* Regola la posizione se necessario */
    color: #ffffff;
    /* Colore dell'icona del checkmark */
    font-size: 16px;
    /* Regola la dimensione dell'icona del checkmark */
    visibility: hidden;
    transition: color 0.3s;
}


/* Stile dell'area interna quando è selezionata (opzionale) */

#allergeni input[type="checkbox"]:checked+label:after {
    visibility: visible;
}

.inputQuantityLabelInpt {
    float: right;
}


/*******************login signin prenotazione *********************/
#passwordInstruction{
    max-width: 600px;
    color: var(--instructionMessage);
}

#login, #signIn, #prenotazione{
    text-align: center;
}
#signIn label,
#login label, 
#prenotazione label{
    font-size: 1.4em;
}

#signIn fieldset,
#login fieldset,
#prenotazione fieldset {
    width: fit-content;
}

#signIn ul,
#login ul,
#prenotazione ul {
    text-align: right;
    width: fit-content;
}

#signIn form,
#login form,
#prenotazione form {
    text-align: -webkit-center;
    text-align: -moz-center;
}

input {
    padding: .2em;
    font-size: 1.2em;
}

label[for="indicazioniAggiuntive"]{
    display: block;
}

textarea{
    margin-top: .4em;
    max-width: 300px;
    box-sizing: border-box;
    resize: none;
}
/*******************HOME************************/

.homeImage {
    background-image: url(../assets/Images/japan.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    padding: 0;
}

#homeTitle {
    position: relative;
    top: 70%;
    text-align: center;
    color: #fff;
    text-shadow:
            3px 3px 2px #000,
            -3px 3px 2px #000,
            -3px -3px 0 #000,
            3px -3px 0 #000;
}

#homeTitle {
    font-size: 2em;
    line-height: 1em;
}

.overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* L'ultimo valore (0.5) rappresenta l'opacità */
}

.homeSection {
    text-align: left;
    justify-content: space-evenly;
    margin: auto;
}
#homeDescription{
    margin: 2em;
}
.homeSection div{
    padding: 2em;
    max-width: 500px;
}

.homeSection h3{
    color: var(--LegendTxtColor);
    font-size: 1.8em;
    padding: 1em;
}
.homeSection p{
    padding: 1em;
}
#presentationMenu{
    background-color: var(--secondBodyColor);
    color: #000;
}
.homeSection .image{
    min-width: 300px;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0.5em;

}
#restaurantImage{
    background-image: url(../assets/Images/restoraunt.jpg);
    position: relative;
    top: -3em;
}
#imageDescription {
    background-image: url(../assets/Images/home_image.jpg);
}
#qualityImage{
    background-image: url(../assets/Images/quality.jpg);

}
/**CHI SIAMO***/
.componentList {
    list-style: none;
    margin: 2em;
    justify-content: space-around;
    
}
#chiSiamoSection h2{
    padding: 1em;
    text-align: center;
}


.componentList li{
    height: 300px;
    background: #fff;
    border-radius: calc(var(--curve) * 1px);
    margin: 1em;
    padding: .2em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    padding: 0;
  }
  
  .card__image {      
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius:calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    overflow: hidden;
  }    
  
/****ADMIN PANEL*********/
.DoneButton{
    min-width: 65px;
    height: 32px;
    background-color: var(--submitButtonColor);
    color: var(--pageTxtColor);
    border-radius: 5px;
    border: 0;
    float: right;
}

input[type="submit"].doneButton {
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: var(--submitButtonColor);
}

.buttonDoneCompleted{
    background: var(--endPrenotation);
}

#piattiDaFare .buttonDoneCompleted::after {
    content: ' - Consegnato';
}

/***TABLE MANAGMENT**********/
.tableList, .ActivePrenotationList{
    padding: 1em;
    list-style-type: none;
    margin: .3em;

}
.tableList li, .ActivePrenotationList li{
    padding: .5em;
    font-size: 1.3em;
}

.ActivePrenotationList li {
    border-top: 1px solid var(--flagColor);
    margin: 1em;
    min-height: 75px;
}


.ActivePrenotationList li button{
        margin: 1em 0 1em 
}
/*
.sliderTablelider {
    width: 80%;
    margin: 20px auto;
}

.sliderTable {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;

}

.sliderTable:hover {
    opacity: 1;
}

.sliderTable::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--flagColor);
    cursor: pointer;
}

.sliderTable::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--flagColor);
    cursor: pointer;
}

*/

.progressTable {
    width: 100%;
    height: 20px; /* Set the height of the progress bar */
    color: var(--alternative_text);
    background-color: grey;
}

/* Customize the color and add a border to the progress bar based on occupancy */
.progressTable::-webkit-progress-bar {
    background-color: var(--menuBackground);
    border: 1px solid grey; /* Add a border */
}

.progressTable::-webkit-progress-value {
    background-color: var(--alternative_text); /* Red color for the progress bar */
    border: 1px solid var(--alternative_text); /* Add a border */
}

.progressTable::-moz-progress-bar {
    background-color: var(--alternative_text);
    border: 1px solid var(--alternative_text);
}

/* Hide the default appearance on Firefox */
progress[value]::-moz-progress-bar {
    background-color: transparent;
}

label {
    display: block;
    margin-bottom: 5px;
}




#SezioneGestioneTavoli {
    width:70%;
    min-width: 400px;
}
#SezioneGestionePrenotazioni ul {
    width: 30%;
    min-width: 400px;
    max-height: 500px;
    overflow-y: scroll;
    direction: rtl;
}
#SezioneGestionePrenotazioni ul > * {
    direction: ltr;
}
#SezioneGestionePrenotazioni h2{
    padding: .5em;
}

#SezioneGestionePrenotazioni .buttonDoneCompleted::after {
    content: ' - Terminata';
}

/*******************404 e 500*********************/

#Section404, #Section500{
    text-align: center;
    padding: 2em;
}

#Section404 p, #Section500 p{
    margin: auto;
    max-width: 50vw;
}

#nigiriTriste{
    width: 15em;
    height: auto;
}

#nigiriKO{
    width: 15em;
    height: auto;
}


/**NAVBAR MOBILE***/

.menu-toggle-label  , #mobile-menu-toggle {
    cursor: pointer;
    text-align: right;
    color: var(--menuToggleColor);
    font-weight: bold;
    display: none;
}


.bottomMenu li a:link{
   color: var(--alternative_text);
}
.bottomMenu li a:visited{
    color: var(--visitedLinkColor);
 }

.bottomMenu .Ordini{
    background-image: url('../assets/icon/list.png');

}
.bottomMenu .Prenota{
    background-image: url('../assets/icon/sushi.png');

}
.bottomMenu .Tavolo{
    background-image: url('../assets/icon/management.png');

}
.bottomMenu ul{
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
}
.bottomMenu li {
    padding: .3em;
    position: relative;
    list-style: none; /* Rimuove i punti elenco predefiniti */
    font-size:12px;
    color: var(--flagColor);
    display: grid;
    grid-template-rows: auto auto; 
    place-items: center; /* Centra gli elementi verticalmente e orizzontalmente */
}
.bottomMenu li a{
    display: grid;
    grid-template-rows: auto auto; 
    place-items: center; /* Centra gli elementi verticalmente e orizzontalmente */

}

.bottomMenu li a .ListIcon  {
    grid-row: 1; /* Posiziona nella prima riga */

}
.bottomMenu li a p {
    grid-row: 2; /* Posiziona nella prima riga */
  }
  
  .bottomMenu li .ListIcon  {
    width: 20px; /* Larghezza dell'icona */
    height: 20px; /* Altezza dell'icona */
    background-size: contain; /* Adatta l'icona alle dimensioni specificate */
    background-repeat: no-repeat;
    grid-row: 1; /* Posiziona nella prima riga */
  }

  .bottomMenu li p, .bottomMenu li a p {
    grid-row: 2; /* Posiziona nella prima riga */
  }

  .bottomMenu{
    z-index: 100;
    box-shadow: 0 -2px 5px -2px #333;
    background-color:#fff;   
    position:fixed;
    bottom:0;
    left: 0.01em;
    right:0;
    width: 101vw;
    height: 50px;
    margin: 0;
}

/********************* SITO: ADMIN > ELIMINAZIONE PRENOTAZIONE CONFERMA ****************/
#richiestaConferma {
    text-align: center;
    margin: 1em;
    padding: 1em;
    margin: auto;
}


/* Stili per schermi di larghezza massima 600px */

@media only screen and (max-width: 850px) {
    .menu-toggle-label   {
        display: block;
        z-index: 3;
    }
    nav.menu ul li.bigScreenOnly{
        display: none;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--headerBgColor);
    }
   #mobile-menu-toggle:checked  + .menu-toggle-label + .nav-list {
        display: flex;
        position: static;
      }
      
      .menu-toggle-label::before {
        font-size: 1.5em;
        content: "☰ Menu";
      }
      /* Cambia il contenuto prima dell'icona quando il checkbox è selezionato */
      #mobile-menu-toggle:checked + .menu-toggle-label::before {
          font-size: 1.5em;
          content: "✕ Chiudi";
      }
      
      /* Animazione di transizione */
      .nav-list {
        transition: display 0.3s ease-in-out;
      }
    .nav-list li {
        font-size: 1.3em;
        margin: 0;
        text-align: center;
        padding: 10px;
    }
    .onlyMobile{
        display: block;
    }
    .homeImage {
        height: 40vh;
    }

    #footerOrganizer {
        justify-content: start;
    }
    #restaurantImage{
        top:0;
    }
    .homeSection p{
        padding: 0;
    }
    .homeSection h3 {
        padding: 0;
        padding-bottom: 1em;
    }
    .bottomMenu li p, .bottomMenu li a p{
        font-size: 1.5em;
    }
}


/* Stili per schermi di larghezza compresa tra 601px e 1200px */

@media only screen and (min-width: 601px) and (max-width: 1200px) {}


/* Stili per schermi di larghezza superiore a 1200px */

@media only screen and (min-width: 1201px) {}
