* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: #000;
    --menuBackground: #000;
    --headerTxtColor: rgb(255, 255, 255);
    --menuTxtcolor: #fff;
    --pageTxtColor: #fff;
    --bgColor: rgb(0, 0, 0);
    --txtColor: rgb(0, 0, 0);
    --footerBgColor: #000;
    --footerTxtColor: rgb(255, 255, 255);
    --linkColor: #ffffff;
    --visitedLinkColor: #e74c3c;
    /*importante il contrasto tra link visitato e non*/
    --flagColor: rgb(218, 103, 60);
    --fieldSetBorderColor: darkgoldenrod;
    --LegendTxtColor: darkgoldenrod;
    --alternative_text: darkgoldenrod;
    --menuToggleColor: darkgoldenrod;
    --submitButtonColor: rgb(2, 117, 0);
    --borderMenuItem: rgb(58 58 58);
    --font-body-family: system-ui, "sans-serif", sans-serif;
}

html {
    font-size: 100%;
    /* rispetto requisti utente*/
    font-family: var(--font-body-family);
    line-height: 1.5em;
    /* da mettere sempre*/
    margin: auto;
    /* per centrare*/
    background-color: var(--bgColor);
    color: var(--pageTxtColor);
}

.srOnly {
    position:absolute;
    left:-999em;}

a:link {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--headerBgColor);
    padding: 1em;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
}

header h3 {
    letter-spacing: .5em;
}

nav.menu {
    background-color: var(--headerBgColor);
    align-items: center;
    /* Aggiunto per centrare verticalmente gli elementi */
    padding: 10px;
}

nav.menu ul,
#login ul,
#signIn ul,
#listaAllergeni {
    text-align: center;
    list-style-type: none;
}

nav.menu ul li {
    display: inline-block;
    margin: 0 15px;
    /* Rimuovi il margine da .menu e applica qui */
}

nav.menu ul li a {
    font-weight: bold;
    transition: color 0.3s ease;
    text-underline-offset: .3em;
}

#breadcrumb {
    justify-content: flex-start;
    padding-left: 0.5em;
}

#menuTitle {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}

.containerPlatesViewer {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 1em;
}

.containerPlatesViewer ul {
    font-size: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: var(--menuBackground);
    color: var(--menuTxtcolor)
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* Crea due colonne con larghezza uguale */
    width: 250px;
    text-align: left;
    border: 0.5px solid var(--borderMenuItem);
    border-radius: 8px;
    padding: 1em;
    margin: .5em;
}

.quantitaOrdine {
    float: right;
    padding: 0.5em;
}

.menuItem.oldOrders {
    border: 1px solid #6f6969;
    border-radius: 10px;
    margin: 0.2em;
}

.prezzo {
    float: right;
}

.containerPlatesViewer .imageMenuItem {
    background-repeat: no-repeat;
    background-position-x: center;
    width: 60px;
    background-size: contain;
    margin: 0.3em;
}

.containerPlatesViewer .nomePiatto {
    display: block;
    font-weight: bold;
}

dd.ingradienti {
    color: var(--flagColor);
}

main div {
    padding-top: .3em;
}

footer {
    background-color: var(--footerBgColor);
    color: #fff;
    text-align: center;
    padding: 1em;
}


/*******************MENU *********************/

dl.ListinoPrezzi {
    padding: 1.5em;
    justify-content: center;
}

dl.ListinoPrezzi div {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.inline {
    display: inline;
}

.ListinoPrezzi dd {
    color: var(--alternative_text);
    font-weight: bold;
    display: block;
    font-size: 3em;
    padding-top: 0.5em;
}

.ListinoPrezzi dt {
    font-weight: bold;
}

.ListinoPrezzi div {
    padding: 2.5em;
}

#signIn h2,
#login h2,
.containerPlatesViewer h2,
.prices h2 {
    color: var(--alternative_text);
    margin: 1.5em;
}

.prices{
    text-align: center;
}
.containerPlatesViewer>p {
    padding-bottom: 1em;
}


/*******************PRENOTA *********************/

.hide {
    display: none;
}

.inptQuantita {
    width: 3em;
}

fieldset {
    border: 0;
    /* Replace YourColor with the desired color code */
    border-radius: 8px;
    padding: 1em;
}

fieldset legend {
    color: var(--LegendTxtColor);
    font-size: 1.5em;
    font-weight: bold;
    /*text-align: left;*/
}

#submitPrenotazione,
#signIn button,
#login button,
input[type="submit"] {
    background-color: var(--submitButtonColor);
    color: #fff;
    min-width: 30px;
    font-size: 1.3em;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    border: 0;
    text-align: center;
}

fieldset ul li {
    margin: 1em
}

#listaAllergeni li {
    display: inline-block;
    padding: 1em;
}

#allergeni{
    text-align: center;
}
/* Nascondi la checkbox predefinita */

input[type="checkbox"] {
    display: none;
}


/* Stile della checkbox personalizzata */

input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    /* Regola se necessario */
    cursor: pointer;
}


/* Stile del segno di spunta */

input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    /* Regola la dimensione della checkbox */
    height: 20px;
    /* Regola la dimensione della checkbox */
    background-color: #fff;
    /* Colore di sfondo */
    transition: background 0.3s;
}


/* Stile del segno di spunta quando è selezionato */

input[type="checkbox"]:checked+label:before {
    background-color: #3498db;
    /* Cambia il colore di sfondo quando è selezionato */
}


/* Stile dell'area interna del segno di spunta (opzionale) */

input[type="checkbox"]+label:after {
    content: "\2713";
    /* Carattere Unicode per il checkmark */
    position: absolute;
    left: 4px;
    /* Regola la posizione se necessario */
    top: 0px;
    /* Regola la posizione se necessario */
    color: #ffffff;
    /* Colore dell'icona del checkmark */
    font-size: 16px;
    /* Regola la dimensione dell'icona del checkmark */
    visibility: hidden;
    transition: color 0.3s;
}


/* Stile dell'area interna quando è selezionata (opzionale) */

input[type="checkbox"]:checked+label:after {
    visibility: visible;
}

.inputQuantityLabelInpt {
    float: right;
}


/*******************login signin *********************/
#login, #signIn{
    text-align: center;
}
#signIn label,
#login label {
    font-size: 1.4em;
}

#signIn fieldset,
#login fieldset {
    width: fit-content;
}

#signIn ul,
#login ul {
    text-align: right;
    width: fit-content;
}

#signIn form,
#login form {
    text-align: -webkit-center;
}

input {
    padding: .2em;
    font-size: 1.2em;
}


/*******************HOME************************/

.homeImage {
    background-image: url(../assets/Images/japan.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    padding: 0;
}

#homeTitle {
    position: relative;
    top: 70%;
    text-align: center;
}

#homeTitle {
    font-size: 2em;
    line-height: 1em;
}

.overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* L'ultimo valore (0.5) rappresenta l'opacità */
}

#homeDescription {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
}

#homeDescription div {
    padding: 2em;
    max-width: 500px;
}

#imageDescription {
    background-image: url(../assets/Images/home_image.jpg);
    min-width: 300px;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}


/**NAVBAR MOBILE***/

.menu-toggle {
    cursor: pointer;
    text-align: right;
    color: var(--menuToggleColor);
    font-weight: bold;
    display: none;
}


/* Stili per schermi di larghezza massima 600px */

@media only screen and (max-width: 600px) {
    .menu-toggle {
        display: block;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--headerBgColor);
    }
    .nav-list.show {
        display: flex;
    }
    .nav-list li {
        margin: 0;
        text-align: center;
        padding: 10px;
    }
    .menu-toggle {
        display: block;
    }
    .homeImage {
        height: 40vh;
    }
}


/* Stili per schermi di larghezza compresa tra 601px e 1200px */

@media only screen and (min-width: 601px) and (max-width: 1200px) {}


/* Stili per schermi di larghezza superiore a 1200px */

@media only screen and (min-width: 1201px) {}